<% @page_title = "Admin Menu | Edit Video" %>

<div class="menu">

	<%= form_for :video, url: { action: 'update_video', :id => @video} do |f| %>
	<table>
		<tr>
			<td><%= label_tag(:title, "Title: ") %></td>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<td><%= label_tag(:video_url, "URL: ") %></td>
			<td><%= f.text_field :video_url %></td>
		</tr>
		<tr>
			<td><%= label_tag(:description, "Description: ") %></td>
			<td><%= f.text_area :description %></td>
		</tr>
		<tr>
			<td><%= label_tag(:position, "Video Position: ") %></td>
			<td><%= f.select(:position, 1..@video_count) %></td>
		</tr>
		</tr>
		<tr>
			<td><%= f.submit "Edit" %></td>
		</tr>
	</table>
	<% end %>

	<br><br>

	<%= link_to("Back to Content", :controller => 'public', :action => 'index') %>

</div>